<% if user_signed_in? %>
  <p><%= link_to 'Meu Perfil', profile_path %></p>
  <p><%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { "turbo-method": :delete } %></p>
<% else %>
  <p><%= link_to 'Entrar', new_user_session_path %></p>
<% end %>
